a {
  text-decoration: none;
}

.brand {
  width: 170px;
  margin-right: 1em;
  transition: 0.3s linear;
}
.brand:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.main-navbar {
  /* background-color: #252836; */
  background-color: transparent;
  padding: 20px;
  font-weight: bold;

  text-decoration: none;
}

.main-navbar.active {
  background-color: #1d2c81d5;
  transition: 0.1s ease-out;
  color: white;
}

.arrowDown {
  color: #fff;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.arrowDown {
  font-size: 1.5rem;
  padding-left: 0;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #0a58ca;
}

.NavLinks {
  color: #fff;
  font-size: 1.5em;
}
.non-product {
  padding-left: 0.5em;
}

.nav-icons {
  font-size: 2em;
  margin-right: 0.8em;
}

.nav-icons:hover {
  color: #0a58ca;
}

.dropDownTitle {
  font-size: 1.2em;
}
.mouse {
  padding-left: 7px;
}

/* https://wecode101.com/react-bootstrap-large-custom-dropdown-menu-in-nav-bar */
.large-dropdown-menu {
  min-width: 626px;
  padding: 0;
  background: #1f1d2c;
}

.large-dropdown-menu ul {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  color: white;
}

.large-dropdown-menu ul li a {
  text-decoration: none;
  text-align: center;
}

.large-dropdown-menu ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: white;
  white-space: normal;
}

.large-dropdown-menu ul li a:hover,
.large-dropdown-menu ul li a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  border-radius: 30px;
}

.large-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

.dropdown-large {
  position: fixed;
  left: 0;
}

.large-dropdown-menu .disabled > a,
.large-dropdown-menu .disabled > a:hover,
.large-dropdown-menu .disabled > a:focus {
  color: #999999;
}

.large-dropdown-menu .disabled > a:hover,
.large-dropdown-menu .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}

.large-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .menu-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .large-dropdown-menu .dropdown-header {
    padding: 3px 0px !important;
  }
  .large-dropdown-menu {
    position: static;

    width: 35em;
  }
  .dropDownTitle {
    font-size: 0.8em;
  }
  .mouse {
    padding-left: 20px;
  }
  .large-dropdown-menu > li {
    margin-bottom: 30px;
  }
  .large-dropdown-menu > li:last-child {
    margin-bottom: 0;
  }
}

/* @media (max-width: 768px) {
  .large-dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .large-dropdown-menu > li {
    margin-bottom: 30px;
  }
  .large-dropdown-menu > li:last-child {
    margin-bottom: 0;
  }
  .large-dropdown-menu .dropdown-header {
    padding: 3px 15px !important;
  }
} */

.dropdown-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menu-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
