.list-group-item {
  background-color: transparent;
  color: white;
}

.main-container {
  margin-top: 2em;
}

.btn-text {
  padding-right: 0.5em;
  font-size: 1.2em;
}

.info-link {
  color: #0088e3;
  font-weight: bold;

}

.info-link:hover {
  color: #269ceb;

}