.title {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.new-row {
    margin-bottom: 30px;
}
.send-button {
    font-size: 30px;
    text-align: center;
}