.title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}


.new-row {
    margin-bottom: 30px;
}

.send-button {
    font-size: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .title {
        font-size: 50px;
        line-height: 50px;
    }

    .body {
        font-size: 20px;
        line-height: 20px;
    }

    .contact-content {
        margin: 2em 0;
    }
}